*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-color: #3498db;
    font-family: Tahoma;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
   
    margin: 10px;
    flex-direction: row;
    font-size: 25px;
    color: white;

  }
  
  img{
    height: 80px;
    width: 80px;
    border-radius: 5px;
  }

  #search{
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
  }

  .data{
    margin-left: 10px;
  }
  